/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/


## Directory-based project format:
.idea/

# Ignore application configuration
/.env

# Ignore coverage files
/coverage
/

